*{
    margin: 0;
    padding: 0;
    font-family: cursive;
    background-color: #8a5a44;
    text-align: center;
}
h1{
    color: #583101;
    margin-top: 8vmin;
    font-size: 60px;
}
.container{
    height: 60vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5vmin;
}
.html , .css , .js{
    height: 18vmin;
    width: 28vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.536);
    font-size: 26px;
    color: #8a5a44;
    text-align: center;
    line-height: 18vmin;
    cursor: pointer;
    background-color: #cd9777;
    justify-content: center;
}
a{
    text-decoration: none;
}